<div class="welcome-animation" id="wellcome">
    <div class="flex">
        <div class="relative mr-8 min-w-28 max-w-28 select-none ml-2">
            <img src="../../../assets/pics/pic-r.png" class="rounded-full absolute min-w-40 -top-6 -left-6 rotate"
                alt="Oualid-BG">
            <img src="../../../assets/pics/profile-pic5.png" class="rounded-full relative z-10" alt="Oualid">
        </div>
        <div>
            <h3 class="text-cyan-500 sm:text-xl text-lg font-semibold font-cons">{{text['job']}}</h3>
            <h1 class="dark:text-white sm:text-4xl text-2xl font-bold">{{text['hiMsg']}}</h1>

            <div class="flex items-center mt-2">
                <a target="_blank" href="https://gitlab.com/oualid20" class="mr-3 text-cyan-200 dark:text-cyan-800 hover:text-cyan-400 dark:hover:text-cyan-600" title="GitLab">
                    <i class="fab fa-gitlab fa-2x" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/oualid-o-43386b1a3/" class=" text-cyan-200 dark:text-cyan-800 hover:text-cyan-400 dark:hover:text-cyan-600" title="LinkedIn">
                    <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <p class="dark:text-white mt-6 p-3 bg-gray-200 dark:bg-gray-900 rounded-md whitespace-pre-line">{{text['description']}}</p>
    <br>

</div>
