@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML */
html {
  scroll-behavior: smooth;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.font-cons {
  font-family: Consolas, monaco, monospace;
}

/* LINE BREAKS */
.line-breaks {
  white-space: pre-line;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(117, 117, 117, 0.5);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(68, 68, 68, 0.575);
}


/* ANIMATION */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 80s linear infinite;
}

.hidden-toolbar {
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}

/* Regular toolbar style */
.toolbar {
  transition: transform 0.4s ease;
}

.welcome-animation {
  animation: 0.6s ease-out 0s 1 slideInFromLeft;
}

.app-project-animation {
  animation: 0.8s ease-out 0s 1 slideInFromBottom;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-8%);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(2%);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}